<!DOCTYPE html>
<html lang="en">
   <title>
        XBomber || Ign0r3dH4x0r
    </title>
  <head>
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-F78TC5M8YC"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-F78TC5M8YC');
      </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="title" content="Xbomber || Best SMS and CALL Bomber for Bangladesh.">
    <meta name="description" content="Download Xbomber android app to spam with SMS and CALL.">
    <meta name="Keywords" content="SMS BOMBING, CALL BOMBING, SMS BOMB BD, SMS BOMBING BANGLADESH, Ign0r3dH4x0r, XBOMBER">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://xbomber.ml">
    <meta property="og:title" content="Xbomber || Best SMS and CALL Bomber for Bangladesh.">
    <meta property="og:description" content="Download Xbomber android app to spam with SMS..">
    <meta property="og:Keywords" content="SMS BOMBING, CALL BOMBING, SMS BOMB BD, SMS BOMBING BANGLADESH, Ign0r3dH4x0r, XBOMBER">
    <meta property="og:image" content="https://i.ibb.co/6tXXRsx/Xb2.png">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="icon" href="favicon-16x16.png" type="image" sizes="16x16">
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
    <script>
      window.OneSignal = window.OneSignal || [];
      OneSignal.push(function() {
        OneSignal.init({
          appId: "44b19cf7-2ab3-4167-b0d2-ebde98505927",
        });
      });
    </script>
  </head>
  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <p align="center">
      <img src="https://i.ibb.co/6tXXRsx/Xb2.png" alt="Sowmik" border="0" height="160px">
      </p>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
        <a href="https://git.io/Jt07I" class="btn" disabled>DOWNLOAD V2.1</a>
      <!--a href="http://github.com/Ign0r3dH4x0r" class="btn">GitHub</a-->
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}
      <footer class="site-footer">
          <span class="site-footer-owner"><a href="https://xbomber.ml">XBOMBER.ML</a> is maintained by <a href="https://github.com/Ign0r3dH4x0r">Ign0r3dH4x0r</a>.</span>
        <span class="site-footer-credits">Greetz - Tech with Pritom & Shofiqul Inc.<a href="#"></a>.</span>
      </footer>
    </main>
  </body>
</html>
