<!DOCTYPE html>
<html lang="en">
  <head>
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-F78TC5M8YC"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-F78TC5M8YC');
      </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="robots" content="noindex, nofollow">
    <meta name="title" content="Xbomber || Ign0r3dH4x0r - Best SMS & Call Bombing Website For Bangladesh.">
    <meta name="description" content="Download Xbomber android app to spam with SMS and CALL.">
    <meta name="Keywords" content="SMS BOMBING, CALL BOMBING, SMS BOMB BD, SMS BOMBING BANGLADESH, Ign0r3dH4x0r, XBOMBER">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://xbomber.ml">
    <meta property="og:title" content="Xbomber || Ign0r3dH4x0r - Best SMS & Call Bombing Website For Bangladesh.">
    <meta property="og:description" content="Download Xbomber android app to spam with SMS and CALL..">
    <meta property="og:Keywords" content="SMS BOMBING, CALL BOMBING, SMS BOMB BD, SMS BOMBING BANGLADESH, Ign0r3dH4x0r, XBOMBER">
    <!--meta property="og:image" content="https://i.ibb.co/GPXLFB4/Bomber-Baba.jpg"-->
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
        <a href="https://github.com/smsowmik/Download-Release/
raw/main/XBomber_Release_.apk" class="btn">DOWNLOAD APP</a>
      <a href="http://github.com/Ign0r3dH4x0r" class="btn">GitHub</a>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}
      <footer class="site-footer">
          <span class="site-footer-owner"><a href="https://xbomber.ml">XBOMBER.ML</a> is maintained by <a href="https://github.com/Ign0r3dH4x0r">Ign0r3dH4x0r</a>.</span>
        <span class="site-footer-credits">Greetz - Tech with Pritom & Shofiqul Inc.<a href="#"></a>.</span>
      </footer>
    </main>
  </body>
</html>
